### Grouping with a CASE statement

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [3]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:**********@localhost:3306/united_nations

'Connected: root@united_nations'

### Identifying regions in Africa

In [4]:
%%sql

SELECT *
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the full list

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2015, Decimal('92.00'), Decimal('85.00'), Decimal('39.543154'), Decimal('165.98'), Decimal('2381741.00'), Decimal('11.21')),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2016, Decimal('93.00'), Decimal('85.33'), Decimal('40.339329'), Decimal('160.03'), Decimal('2381741.00'), Decimal('10.20')),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2017, Decimal('93.00'), Decimal('84.67'), Decimal('41.136546'), Decimal('170.10'), Decimal('2381741.00'), Decimal('12.00')),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2018, Decimal('93.00'), Decimal('84.67'), Decimal('41.927007'), Decimal('174.91'), Decimal('2381741.00'), None),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2019, Decimal('93.33'), Decimal('84.67'), Decimal('42.705368'), Decimal('171.77'), Decimal('2381741.00'), None)]

### Classifying SADC countries

In [5]:
%%sql

SELECT
	CASE 
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini', 
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia', 
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'
		ELSE 'Not Classified'
	END AS Regional_economic_community,
    Country_name,
    Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the entire result set

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Not Classified', 'Algeria', Decimal('92.00')),
 ('Not Classified', 'Algeria', Decimal('93.00')),
 ('Not Classified', 'Algeria', Decimal('93.00')),
 ('Not Classified', 'Algeria', Decimal('93.00')),
 ('Not Classified', 'Algeria', Decimal('93.33'))]

### Classifying UMA and ECOWAS countries

In [6]:
%%sql

SELECT
	CASE 
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini', 
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia', 
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'
            
		WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'
            
        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea', 
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'
            
		ELSE 'Not Classified'
	END AS Regional_economic_community,
	Country_name,
	Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the entire result set

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('UMA', 'Algeria', Decimal('92.00')),
 ('UMA', 'Algeria', Decimal('93.00')),
 ('UMA', 'Algeria', Decimal('93.00')),
 ('UMA', 'Algeria', Decimal('93.00')),
 ('UMA', 'Algeria', Decimal('93.33'))]

### Calculating the minimum, average, and maximum percentages of managed drinking water services for each REC

In [7]:
%%sql

SELECT
	CASE 
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini', 
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia', 
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'
            
		WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'
            
        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea', 
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'
            
		ELSE 'Not Classified'
	END AS Regional_economic_community,
	MIN(Pct_managed_drinking_water_services) as Min_pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) as Avg_pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) as Max_pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
GROUP BY CASE 
			WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini', 
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia', 
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'
            
			WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'
            
			WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea', 
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'
		ELSE 'Not Classified'
	END;

 * mysql+pymysql://root:***@localhost:3306/united_nations
4 rows affected.

[('UMA', Decimal('66.67'), Decimal('88.233000'), Decimal('100.00')),
 ('Not Classified', Decimal('38.33'), Decimal('79.659755'), Decimal('100.00')),
 ('SADC', Decimal('50.33'), Decimal('75.813049'), Decimal('100.00')),
 ('ECOWAS', Decimal('53.33'), Decimal('70.789286'), Decimal('87.33'))]