### Union

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

# Establish a connection to a SQLite database file.
%sql sqlite:///chinook.db

'Connected: @chinook.db'

In [2]:
%%sql

SELECT t.AlbumId, t.Name, "Artist" AS "Category"
FROM tracks AS t

UNION

SELECT a.AlbumId, a.Title, "Album" AS "Category"
FROM albums AS a

LIMIT 10;  -- Remove this line to see the full query output

 * sqlite:///chinook.db
Done.

[(1, 'Breaking The Rules', 'Artist'),
 (1, 'C.O.D.', 'Artist'),
 (1, 'Evil Walks', 'Artist'),
 (1, 'For Those About To Rock (We Salute You)', 'Artist'),
 (1, 'For Those About To Rock We Salute You', 'Album'),
 (1, 'Inject The Venom', 'Artist'),
 (1, "Let's Get It Up", 'Artist'),
 (1, 'Night Of The Long Knives', 'Artist'),
 (1, 'Put The Finger On You', 'Artist'),
 (1, 'Snowballed', 'Artist')]

In [3]:
%%sql

SELECT 
    ar.Name, 
    a.Title
FROM 
    artists ar
LEFT JOIN 
    albums AS a
    ON ar.Name = a.Title

UNION ALL

SELECT 
    ar.Name, 
    a.Title
FROM 
    albums AS a
LEFT JOIN 
    artists AS ar
    ON ar.Name = a.Title

LIMIT 10;  -- Remove this line to see the full query output

 * sqlite:///chinook.db
Done.

[('AC/DC', None),
 ('Accept', None),
 ('Aerosmith', None),
 ('Alanis Morissette', None),
 ('Alice In Chains', None),
 ('Antônio Carlos Jobim', None),
 ('Apocalyptica', None),
 ('Audioslave', 'Audioslave'),
 ('BackBeat', None),
 ('Billy Cobham', None)]