### Subquery in  WHERE

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [3]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:**********@localhost:3306/united_nations

'Connected: root@united_nations'

In [4]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

In [5]:
%%sql

SELECT 
    AVG(Est_gdp_in_billions)
FROM 
    Economic_Indicators 
WHERE 
    Time_period = 2020;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(Decimal('301.176825'),)]

In [6]:
%%sql

SELECT 
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM 
    Economic_Indicators AS econ
INNER JOIN 
    Basic_Services AS service
ON 
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Afghanistan', 2015, Decimal('20.00'), Decimal('67.00')),
 ('Afghanistan', 2016, Decimal('18.02'), Decimal('69.67')),
 ('Afghanistan', 2017, Decimal('18.90'), Decimal('72.33')),
 ('Afghanistan', 2018, Decimal('18.42'), Decimal('75.33')),
 ('Afghanistan', 2019, Decimal('18.90'), Decimal('78.00')),
 ('Afghanistan', 2020, Decimal('20.14'), Decimal('80.33')),
 ('Algeria', 2015, Decimal('165.98'), Decimal('92.00')),
 ('Algeria', 2016, Decimal('160.03'), Decimal('93.00')),
 ('Algeria', 2017, Decimal('170.10'), Decimal('93.00')),
 ('Algeria', 2018, Decimal('174.91'), Decimal('93.00'))]

In [7]:
%%sql

SELECT 
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM 
    Economic_Indicators AS econ
INNER JOIN 
    Basic_Services AS service
ON 
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
WHERE
    econ.time_period = 2020
    AND service.Pct_managed_drinking_water_services < 90
    AND econ.Est_gdp_in_billions > (SELECT 
                                        AVG(Est_gdp_in_billions)
                                    FROM 
                                        Economic_Indicators 
                                    WHERE 
                                        Time_period = 2020);

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[('Nigeria', 2020, Decimal('432.20'), Decimal('77.33'))]